@import 'tailwindcss';

.center-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 2rem;
}

.input-field {
  padding: 0.3rem;
  border-radius: 0.2rem;
}

.btn {
  background-color: black;
  color: white;
  padding: 0.3rem;
  border-radius: 0.2rem;
}

.btn:hover {
  background-color: #424242;
}

.saved-items {
  display: flex;
  margin-top: 1rem;
  align-items: center;
  gap: 1rem;
  background-color: #e6e6e6;
  padding-inline: 2rem;
  border-radius: 0.5rem;
}

.edit-btn {
  color: green;
  border: none;
  cursor: pointer;
}

.delete-btn {
  color: red;
  border: none;
  cursor: pointer;
}
